.header {
    background-color: darkslategray;
    color: lightcoral;
    text-align: center;
}
.main {
    background-color: lightgrey;
    padding: 1em;
}
.body {
    background-image: url('record.png');
    background-size: auto;
    background-repeat: repeat;
    height: 100vh;
    margin: 0;
    background-color: grey;
}